.card-holder {
  border: 2px solid yellow;
  background-color: grey;
  width: 500px;
  height: 800px;
  margin: 10px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  flex-direction: column; }
