.card-holder {
  background-color: grey;
  width: 500px;
  margin: 10px;
  border-radius: 25px;
  justify-content: center;
  flex-direction: column;
  border: 2px solid #F50E1D; }

.card-holder:hover {
  background-color: darkgrey;
  cursor: pointer; }
