button {
  margin: 5px;
  height: 50px;
  border-radius: 10px;
  width: 180px;
  border: 1px solid yellow;
  cursor: pointer;
  font-family: inherit;
  font-size: 20px;
  outline: none; }

button:hover {
  background-color: yellow; }
