.header {
  background-color: black;
  background-image: url("http://localhost:3000/images/yoda.jpg");
  background-repeat: no-repeat;
  height: 480px; }

.main-header {
  color: yellow;
  background-color: black; }

.fav-button {
  background-color: yellow; }
