* {
  font-family: 'Bungee', cursive;
}

.App {
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
}

.loading-gif{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loading-text {
  color: white;
  align-self: center;
}

.gif {
  width: 50%;
  align-self: center;
}
